@import 'jeet/index';
@import 'settings';

.aboutfriendly{
	@include center($width);
	@include stack();
	position: relative;
	margin-bottom: 5em;
	&:first-child{
		margin-top:100px;
	}
	& .aboutphoto{
		@include col (1/3);
		position: relative;
		margin-top: 22px;
		& img{
			border-radius: 30em;
			width: 100%;
			margin: auto;
			display: block;
		}
	}
	& .abouttext{
		@include col (2/3);
		& p span{
			font-family: "proxima-nova", "helvetica neue", helvetica, arial, sans-serif;
			font-weight: bold;
			color: $green;
		}
	}
}

.about-social{
	a{
		font-size: 2.375em;
		color: $green;
		text-decoration: none;
		span{
		border: 1px solid $green;
		border-radius: 50%;
			&:hover{
				opacity: 0.7;
			}
		}
	}

	& .icon-tumblr:before {
		content: "\26";
	}
}

// Media Query
@media (min-width: $break-tablet) and (max-width: $break-large){

.aboutfriendly{
	@include center(75%);
	@include stack();
	position: relative;
	margin-bottom: 5em;
	&:first-child{
		margin-top: 75px;
	}
	& .aboutphoto{
		@include stack();
		position: relative;
		margin-top: 0;
		& img{
			border-radius: 30em;
			width: 275px;
			margin: auto;
			display: block;
		}
	}
	& .abouttext{
		@include stack();
		& p span{
			font-family: "proxima-nova", "helvetica neue", helvetica, arial, sans-serif;
			font-weight: bold;
			color: $green;
		}
	}
}

.aboutsocial{
	& .icon-tumblr:before {
		content: "\26";
	}
}


}

@media (min-width: $break-small) and (max-width: $break-tablet){

.aboutfriendly{
	@include center(92.5%);
	@include stack();
	position: relative;
	margin-bottom: 5em;
	&:first-child{
		margin-top:100px;
	}
	& .aboutphoto{
		@include stack();
		width: 225px;
		margin-top: 0;

	}
	& .abouttext{
		@include stack();
	}
}

.aboutsocial{
	& .icon-tumblr:before {
		content: "\26";
	}
}


}

@media (max-width: $break-small){

.aboutfriendly{
	@include center(92.5%);
	@include stack();
	position: relative;
	margin-bottom: 5em;
	&:first-child{
		margin-top:50px;
	}
	& .aboutphoto{
		@include stack();
		width: 225px;
		margin-top: 0;

	}
	& .abouttext{
		@include stack();
	}
}

.about-social{

	& .icon-tumblr:before {
		content: "\26";
	}
}


}