/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/* Variables */
@media all and (max-width: 759px) {
  /** Multi Selectors **/
  /* stacks and adds padding to 2nd and 3rd children */
  .service, .processphoto, .colophon .column {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    .service:first-child, .processphoto:first-child, .colophon .column:first-child {
      margin-left: auto; }
    .service:last-child, .processphoto:last-child, .colophon .column:last-child {
      margin-right: auto; }
    .service:nth-of-type(2), .service:nth-of-type(3), .processphoto:nth-of-type(2), .processphoto:nth-of-type(3), .colophon .column:nth-of-type(2), .colophon .column:nth-of-type(3) {
      padding-top: 25px; }

  /**NAVIGATION**/
  #main-navigation ul {
    display: flex; }
  #main-navigation li:first-child {
    order: 3; }
  #main-navigation li:nth-of-type(2) {
    order: 1; }
  #main-navigation li:nth-of-type(3) {
    order: 2; }
  #main-navigation li:nth-of-type(4) {
    order: 4; }
  #main-navigation li:nth-of-type(5) {
    order: 5; }
  #main-navigation li:nth-of-type(2), #main-navigation li:nth-of-type(3) {
    outline: red dashed 1px; }
  #main-navigation li:nth-of-type(4), #main-navigation li:nth-of-type(5) {
    outline: blue dashed 1px; }

  /**HERO**/
  .herotext, .noun, .create {
    text-align: center; }

  .herotext {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 64% 0 0; }
    .herotext:first-child {
      margin-left: auto; }
    .herotext:last-child {
      margin-right: auto; }

  .hero-container-container {
    margin-top: 10%;
    margin-bottom: 30%;
    background: none; }

  .hero-container {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 47%;
    transition: all 2s; }

  .hero:first-child {
    height: 51vw; }

  .create {
    font-size: 7vw; }

  .noun {
    font-size: 15vw; }

  /** MOTTO **/
  .motto {
    padding: 0px 3.75% 45px 3.75%; }
    .motto h2 {
      font-size: 1.5em; }

  /** CLIENTS **/
  .clientlogos img {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 47.5%;
    margin-left: 0%;
    margin-right: 5%;
    margin-bottom: -10px; }
    .clientlogos img:before, .clientlogos img:after {
      content: '';
      display: table; }
    .clientlogos img:after {
      clear: both; }
    .clientlogos img:nth-child(5n) {
      margin-right: 5%;
      float: left; }
    .clientlogos img:nth-child(2n) {
      margin-right: 0%;
      float: right; }
  .clientlogos img:nth-child(n+7) {
    display: none; } }
