@import 'jeet/index';
@import 'settings';

/*** Both mobile and small breakpoints ***/

@media all and (max-width: $break-tablet){
	
	/* Even out padding/margin on sides for tablet. */
	.services, .colophon-content{
		width: $tablet-width;
	}

	/** Multi Selectors **/ 

	/* stacks and adds padding to 2nd and 3rd children */ 
	
	.service, .processphoto {
		text-align: center;
	}

	.service, .processphoto, .colophon .column {
		@include stack();
		&:nth-of-type(2), &:nth-of-type(3), &:nth-of-type(4){
			padding-top: 50px;
		}
	}

	.services, .process, .clients, .testimonial{
		margin-top: 95px;
		& h2{
			font-size: 1.75em;
		}
	}



	/**HERO**/
	

	.herotext, .noun, .create{
		text-align: center;
	}

	.herotext{
		@include stack();
		margin: 64% 0 0;
	}

	.hero-container-container{
		margin-top: 15%;
		margin-bottom: 30%;
		background: none;
	}

	.hero-container{
		background-repeat: no-repeat;
		background-position: center top;
		background-size: 47%;
		transition: all 2s;
	}

	.hero:first-child{
		height:51vw;
	}

	.create{
		font-size: 7vw;
	}

	.noun{
		font-size: 15vw;
	}

	/** MOTTO **/ 

	.motto {
		padding: 8% (100/2-$tablet-width/2) 8% (100/2-$tablet-width/2);
		margin-top: 175px;
		& h2 {
			font-size: 1.25em;
		}	
	}

	/** CLIENTS **/ 

	.clientlogos{
		& img { 
			@include col(1/2, $uncycle:5, $cycle: 2);
			margin-bottom: -10px;
		}

		& img:nth-child(n+7){
				display: none;
		}

		& h2{
			margin-bottom: 0 !important;
		}

	}

	/** TESTIMONIALS **/

	.testimonial p{
		font-size: 1.25em;
	}

	/** COLOPHON **/

	.colophon .column:last-child{
		padding-bottom: 20px;
	}



	/** CTA **/

	.biglink {
		font-size: 1.6rem;
		font-size: 4.5vw;
	}

	/** FOOTER **/

	.inner ul{
		@include center(100%);
		& li {
			@include col(1/4);
			text-align: center;
			& a {
				@include center(100%)
			}
		}


	}

	.footer-meta #footer-copyright {
		text-align: center;
	}
	
}

/*** Mobile break point ***/

@media all and (min-width: $break-small) and (max-width: $break-tablet){

/**NAVIGATION**/

	.logo {
		padding:0 0px !important;

		& img {
			width: 95%;
			margin: 0 auto;
			padding: 0;
			max-height: 115px;
		}
	}

	#main-navigation {
		
		& ul{
			display: flex;
			align-items: center;
		}

		& li:nth-child(2) {
			margin-left: 0px;
		}

		& li{
			
			&:first-child{
				order:3;
				width: $logosize;
			}

			&:nth-of-type(2){
				order:1;
				width:((100 - $logosize)/4);
			}

			&:nth-of-type(3){
				order:2;
				width:((100 - $logosize)/4);
			}

			&:nth-of-type(4){
				order:4;
				width:((100 - $logosize)/4);
			}

			&:nth-of-type(5){
				order:5;
				width:((100 - $logosize)/4);
			}

		/*useful for debugging */
			/** &:nth-of-type(2), &:nth-of-type(3){
				outline:red dashed 1px;
			}

			&:nth-of-type(4), &:nth-of-type(5){
				outline:blue dashed 1px; 
			}**/
		}
	}
	
}


/*** small break point ***/

@media all and (max-width: $break-small){

	#main {
		padding-top: 176px;
	}

	#main-navigation {
		
		& ul{
			display: flex;
			flex-flow: row wrap;
			justify-content: space-between;
			align-items: center;
			padding-bottom: 85px;
						
		}

		& li:nth-child(2) {
			margin-left: 0px;
		}

		& li{
			
			flex: 0 0 20%;
			padding: 10px 0;

			&:first-child{
				flex-basis: 100%;

				.logo img {
					margin-left: 0px;
				}
			}


		/*useful for debugging */
		/**
			&:nth-of-type(2), &:nth-of-type(3){
				outline:red dashed 1px;
			}

			&:nth-of-type(4), &:nth-of-type(5){
				outline:blue dashed 1px; 
			}**/
		}
	}
}

