/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/* Variables */
/*** Both mobile and small breakpoints ***/
@media all and (max-width: 770px) {
  /** Multi Selectors **/
  /* stacks and adds padding to 2nd and 3rd children */
  .service, .processphoto, .colophon .column {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center; }
    .service:first-child, .processphoto:first-child, .colophon .column:first-child {
      margin-left: auto; }
    .service:last-child, .processphoto:last-child, .colophon .column:last-child {
      margin-right: auto; }
    .service:nth-of-type(2), .service:nth-of-type(3), .processphoto:nth-of-type(2), .processphoto:nth-of-type(3), .colophon .column:nth-of-type(2), .colophon .column:nth-of-type(3) {
      padding-top: 50px; }

  .services, .process, .clients, .testimonial {
    margin-top: 95px; }
    .services h2, .process h2, .clients h2, .testimonial h2 {
      font-size: 1.75em; }

  /**HERO**/
  .herotext, .noun, .create {
    text-align: center; }

  .herotext {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 64% 0 0; }
    .herotext:first-child {
      margin-left: auto; }
    .herotext:last-child {
      margin-right: auto; }

  .hero-container-container {
    margin-top: 15%;
    margin-bottom: 30%;
    background: none; }

  .hero-container {
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 47%;
    transition: all 2s; }

  .hero:first-child {
    height: 51vw; }

  .create {
    font-size: 7vw; }

  .noun {
    font-size: 15vw; }

  /** MOTTO **/
  .motto {
    padding: 8% 2.5% 8% 2.5%;
    margin-top: 175px; }
    .motto h2 {
      font-size: 1.25em; }

  /** CLIENTS **/
  .clientlogos img {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 47.5%;
    margin-left: 0%;
    margin-right: 5%;
    margin-bottom: -10px; }
    .clientlogos img:before, .clientlogos img:after {
      content: '';
      display: table; }
    .clientlogos img:after {
      clear: both; }
    .clientlogos img:nth-child(5n) {
      margin-right: 5%;
      float: left; }
    .clientlogos img:nth-child(2n) {
      margin-right: 0%;
      float: right; }
  .clientlogos img:nth-child(n+7) {
    display: none; }
  .clientlogos h2 {
    margin-bottom: 0 !important; }

  /** TESTIMONIALS **/
  .testimonial p {
    font-size: 1.25em; }

  /** COLOPHON **/
  .colophon .column:last-child {
    padding-bottom: 20px; }

  /** CTA **/
  .biglink {
    font-size: 1.6rem;
    font-size: 4.5vw; }

  /** FOOTER **/
  .inner ul {
    *zoom: 1;
    width: auto;
    max-width: 100%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0; }
    .inner ul:before, .inner ul:after {
      content: '';
      display: table; }
    .inner ul:after {
      clear: both; }
    .inner ul li {
      *zoom: 1;
      float: left;
      display: inline;
      clear: none;
      text-align: inherit;
      padding-left: 0;
      padding-right: 0;
      width: 21.25%;
      margin-left: 0%;
      margin-right: 5%;
      text-align: center; }
      .inner ul li:before, .inner ul li:after {
        content: '';
        display: table; }
      .inner ul li:after {
        clear: both; }
      .inner ul li:last-child {
        margin-right: 0%; }
      .inner ul li a {
        *zoom: 1;
        width: auto;
        max-width: 100%;
        float: none;
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-left: 0;
        padding-right: 0; }
        .inner ul li a:before, .inner ul li a:after {
          content: '';
          display: table; }
        .inner ul li a:after {
          clear: both; }

  .footer-meta #footer-copyright {
    text-align: center; } }
/*** Mobile break point ***/
@media all and (min-width: 600px) and (max-width: 770px) {
  /**NAVIGATION**/
  .logo {
    padding: 0 0px !important; }
    .logo img {
      width: 95%;
      margin: 0 auto;
      padding: 0;
      max-height: 115px; }

  #main-navigation ul {
    display: flex;
    align-items: center; }
  #main-navigation li:nth-child(2) {
    margin-left: 0px; }
  #main-navigation li {
    /*useful for debugging */
    			/** &:nth-of-type(2), &:nth-of-type(3){
    				outline:red dashed 1px;
    			}
    
    			&:nth-of-type(4), &:nth-of-type(5){
    				outline:blue dashed 1px; 
    			}**/ }
    #main-navigation li:first-child {
      order: 3;
      width: 40%; }
    #main-navigation li:nth-of-type(2) {
      order: 1;
      width: 15%; }
    #main-navigation li:nth-of-type(3) {
      order: 2;
      width: 15%; }
    #main-navigation li:nth-of-type(4) {
      order: 4;
      width: 15%; }
    #main-navigation li:nth-of-type(5) {
      order: 5;
      width: 15%; } }
/*** small break point ***/
@media all and (max-width: 600px) {
  #main {
    padding-top: 176px; }

  #main-navigation ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 85px; }
  #main-navigation li:nth-child(2) {
    margin-left: 0px; }
  #main-navigation li {
    flex: 0 0 20%;
    padding: 10px 0;
    /*useful for debugging */
    		/**
    			&:nth-of-type(2), &:nth-of-type(3){
    				outline:red dashed 1px;
    			}
    
    			&:nth-of-type(4), &:nth-of-type(5){
    				outline:blue dashed 1px; 
    			}**/ }
    #main-navigation li:first-child {
      flex-basis: 100%; }
      #main-navigation li:first-child .logo img {
        margin-left: 0px; } }
