@import 'jeet/index';

/* Variables */

$horizon: #648092;
$black: #2e3a2f;
$darkgreen: #00733B;
$green: #51b748; 
$blue: #2993D1;
$grey: #f3f3f3;
$width: 75%;
$smallwidth: 65%;
$breathspace: 150px;
$rightspace: 2em;
$buttonsize:5px;

$break-tablet: 760px;
$break-mobile: $break-tablet - 1;

@media all and (max-width: $break-mobile){

	#global-header #header-logo img {
		margin: -16px 0 0 0;
		max-width: 90px;
	}

	.service{
		@include center(95%);	
	}

	.service h3,{
		@include center(95%);
	}
	.services, .process, .clientlogos, .processphoto{
		@include center(95%);
	}

	
}

