@import 'jeet/index';

/* Variables */

$horizon: #648092;
$black: #2e3a2f;
$darkgreen: #00733B;
$green: #51b748; 
$blue: #2993D1;
$grey: #f3f3f3;
$width: 75%;
$tablet-width: 92.5%;
$smallwidth: 65%;
$breathspace: 150px;
$rightspace: 2em;
$buttonsize:5px;

$break-tablet: 760px;
$break-mobile: $break-tablet - 1;

@media all and (max-width: $break-mobile){

	.motto {
		padding: 0px (100/2-$tablet-width/2) 45px (100/2-$tablet-width/2);

		& h2 {
			font-size: 1.5em;
		}	
	}
	.service, .processphoto, .colophon .column {
		@include stack();
		text-align: center;
		&:nth-of-type(2), &:nth-of-type(3){
			padding-top: 25px;
		}
	}

	.clientlogos{
		& img { 
			@include col(1/2, $uncycle:5, $cycle: 2);
			margin-bottom: -10px;
		}

		& img:nth-child(n+7){
				display: none;
		}

	}

	
}

