@import 'jeet/index';
 
$grey: #f3f3f3;
$width: 90%;
$smallwidth: 65%;
$breathspace: 100px;
$rightspace: ((100-$width)/2);


@media all and (max-width: 600px){

	#global-header #header-logo img {
		margin: -16px 0 0 0;
		max-width: 90px;
	}

	.service{
		@include center(95%);	
	}

	.service h3,{
		@include center(95%);
	}
	.services, .process, .clientlogos, .processphoto{
		@include center(95%);
	}

	
}

@media all and (min-width: 601px) and (max-width: 900px){
	
	#global-header #header-logo img {
		margin: -16px 0 0 0;
		max-width: 90px;
	}

	%fullwidth {
	overflow: auto;
	position: relative;
	width: 100%;
	float: left;
	left:0%;
	right:0%;
	}


	 #main .page-coverup{
	 	overflow: hidden;
	 }


	/** Hero  **/
	.hero {
		margin: 
		10% auto 10% auto;
	}

	.hero:first-child{
		@include center($width);
	}
	.herotext{
		@include col(3/5);
	}
	.hero img{
		@include col(2/5);
		width: 45%;
		top: 0%;
		position: absolute;
	}


	/** Motto **/
	.motto{
		@include center(100%);
		background-color: $grey;
		
	}

	.motto * {
		@include center($width);
	}



	/** Serices **/
	.services{
		margin-top: $breathspace;
		@include center($width);
		@extend %fullwidth;

	}

	.service{
		@include col(1/3, $cycle: 3);
	}

	.service img{
		@include center(100%);
		border-radius: 50%;

	}


	/** process **/
	.process{
		margin-top: $breathspace;
		@include center($width);
		@extend %fullwidth;

	}

	.processphoto{
		@include col(1/3, $cycle: 3);
	}

	.processphoto img{
		@include center(100%);
	}

	/** Clients **/
	.clients{
		margin-top: $breathspace;
		@include center(100%);
		background-color: $grey;
		padding: 50px 0;
		@extend %fullwidth;
		
	}

	.clientlogos{
		@include center($width);
	}

	.clientlogos img { 
		@include col(1/5, $cycle: 5);
	}


	/** testimonial **/

	.testimonial{
		margin-top: $breathspace;
		@include center(100%);
		
	}

	.testimonial * {
		@include center($width);
	}

	.quote p{
		}

	.via{
		
	}
}