@import 'jeet/index';

/* Variables */

$horizon: #648092;
$black: #2e3a2f;
$darkgreen: #00733B;
$green: #51b748; 
$blue: #2993D1;
$grey: #f3f3f3;
$tablet-width: 92.5%;
$smallwidth: 65%;
$breathspace: 150px;
$rightspace: 2em;
$buttonsize:5px;

$break-large: 900px;
$break-tablet: 760px;

@media all and (min-width: $break-tablet) and (max-width: $break-large){

	.motto:first-child, .services, .process{
	
		@include center($tablet-width)

	}

	.motto {
		padding: 0px (100/2-$tablet-width/2) 45px (100/2-$tablet-width/2);

		& h2 {
			font-size: 1.5em;
		}	
	}

	.clientlogos{
		& img { 
			@include col(1/3, $uncycle:5, $cycle: 3);
			margin-bottom: -10px;
		}

		 & img:last-child{
				display: none;
		}
	}

	.biglink {
		font-size: 2.25rem;
		font-size: 4.5vw;
	}

}