@import 'jeet/index';
@import 'settings';


@media all and (min-width: $break-tablet) and (max-width: $break-large){

	.motto:first-child, .services, .process{
	
		@include center($tablet-width);
		

	}

	.motto {
		padding: 0px (100/2-$tablet-width/2) 45px (100/2-$tablet-width/2);

		& h2 {
			font-size: 1.5em;
		}	
	}

	.clientlogos{
		& img { 
			@include col(1/3, $uncycle:5, $cycle: 3);
			margin-bottom: -10px;
		}

		 & img:last-child{
				display: none;
		}
	}
}