/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/* Variables */
/* Extends */
.casestudies h2, .workcontainer h2 {
  font-family: "proxima-nova", "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase; }

.casestudies, .workcontainer {
  *zoom: 1;
  width: auto;
  max-width: 75%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0; }
  .casestudies:before, .casestudies:after, .workcontainer:before, .workcontainer:after {
    content: '';
    display: table; }
  .casestudies:after, .workcontainer:after {
    clear: both; }

.casestudies h2, .workcontainer h2 {
  color: #51b748; }

.casestudies, .workcontainer {
  margin-top: 50px; }

.workcontainer {
  margin-bottom: 50px; }

.caseimages a {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 30.0%;
  margin-left: 0%;
  margin-right: 5%;
  overflow: auto; }
  .caseimages a:before, .caseimages a:after {
    content: '';
    display: table; }
  .caseimages a:after {
    clear: both; }
  .caseimages a:last-child {
    margin-right: 0%; }
  .caseimages a img {
    width: 100%; }

.threeup {
  overflow: auto; }
  .threeup img {
    *zoom: 1;
    float: left;
    display: inline;
    clear: none;
    text-align: inherit;
    padding-left: 0;
    padding-right: 0;
    width: 30.0%;
    margin-left: 0%;
    margin-right: 5%; }
    .threeup img:before, .threeup img:after {
      content: '';
      display: table; }
    .threeup img:after {
      clear: both; }
    .threeup img:last-child {
      margin-right: 0%; }

.bigleft {
  margin-top: 3.3%;
  overflow: auto; }

.bigleft img {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 65.0%;
  margin-left: 0%;
  margin-right: 5%; }
  .bigleft img:before, .bigleft img:after {
    content: '';
    display: table; }
  .bigleft img:after {
    clear: both; }
  .bigleft img:last-child {
    margin-right: 0%; }

.smallright {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 30.0%;
  margin-left: 0%;
  margin-right: 5%; }
  .smallright:before, .smallright:after {
    content: '';
    display: table; }
  .smallright:after {
    clear: both; }
  .smallright:last-child {
    margin-right: 0%; }
  .smallright img {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .smallright img:first-child {
      margin-left: auto; }
    .smallright img:last-child {
      margin-right: auto; }
    .smallright img:last-child {
      margin-top: 10.2%; }

.bigright {
  margin-top: 3.3%;
  overflow: auto; }

.bigright img {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 65.0%;
  margin-left: 0%;
  margin-right: 5%; }
  .bigright img:before, .bigright img:after {
    content: '';
    display: table; }
  .bigright img:after {
    clear: both; }
  .bigright img:last-child {
    margin-right: 0%; }

.smallleft {
  *zoom: 1;
  float: left;
  display: inline;
  clear: none;
  text-align: inherit;
  padding-left: 0;
  padding-right: 0;
  width: 30.0%;
  margin-left: 0%;
  margin-right: 5%; }
  .smallleft:before, .smallleft:after {
    content: '';
    display: table; }
  .smallleft:after {
    clear: both; }
  .smallleft:last-child {
    margin-right: 0%; }
  .smallleft img {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto; }
    .smallleft img:first-child {
      margin-left: auto; }
    .smallleft img:last-child {
      margin-right: auto; }
    .smallleft img:last-child {
      margin-top: 10.2%; }

.bigcenter img {
  *zoom: 1;
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  margin-top: 3.3%; }
  .bigcenter img:before, .bigcenter img:after {
    content: '';
    display: table; }
  .bigcenter img:after {
    clear: both; }

/** ---- MEDIA QUERIES ---- **/
@media (min-width: 600px) and (max-width: 900px) {
  .casestudies, .workcontainer {
    *zoom: 1;
    width: auto;
    max-width: 92.5%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
    transition: all 2s; }
    .casestudies:before, .casestudies:after, .workcontainer:before, .workcontainer:after {
      content: '';
      display: table; }
    .casestudies:after, .workcontainer:after {
      clear: both; }

  .caseimages {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    transition: all 2s; }
    .caseimages:first-child {
      margin-left: auto; }
    .caseimages:last-child {
      margin-right: auto; }

  .bigleft > img {
    width: 100%;
    margin-bottom: 3.3%;
    margin-right: 0;
    margin-left: 0;
    transition: all 2s; }

  .bigright > img {
    width: 100%;
    margin-top: 3.3%;
    margin-right: 0;
    margin-left: 0;
    transition: all 2s; }

  .smallright, .smallleft {
    display: inline;
    clear: none;
    width: auto;
    margin-left: 0;
    margin-right: 0;
    text-align: left;
    width: 100%;
    transition: all 2s; }
    .smallright:first-child, .smallleft:first-child {
      margin-left: 0; }
    .smallright:last-child, .smallleft:last-child {
      margin-right: 0; }
    .smallright img, .smallleft img {
      *zoom: 1;
      float: left;
      display: inline;
      clear: none;
      text-align: inherit;
      padding-left: 0;
      padding-right: 0;
      width: 47.5%;
      margin-left: 0%;
      margin-right: 5%;
      transition: all 2s; }
      .smallright img:before, .smallright img:after, .smallleft img:before, .smallleft img:after {
        content: '';
        display: table; }
      .smallright img:after, .smallleft img:after {
        clear: both; }
      .smallright img:last-child, .smallleft img:last-child {
        margin-right: 0%; }
      .smallright img:last-child, .smallleft img:last-child {
        margin-top: 0;
        transition: all 2s; } }
@media (max-width: 600px) {
  .casestudies, .workcontainer {
    *zoom: 1;
    width: auto;
    max-width: 92.5%;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0; }
    .casestudies:before, .casestudies:after, .workcontainer:before, .workcontainer:after {
      content: '';
      display: table; }
    .casestudies:after, .workcontainer:after {
      clear: both; }

  .casestudies {
    margin-top: 10px; }

  .caseimages a, .threeup, .bigcenter, .bigleft, .bigright, .smallright, .smallleft {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0 !important; }
    .caseimages a:first-child, .threeup:first-child, .bigcenter:first-child, .bigleft:first-child, .bigright:first-child, .smallright:first-child, .smallleft:first-child {
      margin-left: auto; }
    .caseimages a:last-child, .threeup:last-child, .bigcenter:last-child, .bigleft:last-child, .bigright:last-child, .smallright:last-child, .smallleft:last-child {
      margin-right: auto; }
    .caseimages a img, .threeup img, .bigcenter img, .bigleft img, .bigright img, .smallright img, .smallleft img {
      display: block;
      clear: both;
      float: none;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px !important; }
      .caseimages a img:first-child, .threeup img:first-child, .bigcenter img:first-child, .bigleft img:first-child, .bigright img:first-child, .smallright img:first-child, .smallleft img:first-child {
        margin-left: auto; }
      .caseimages a img:last-child, .threeup img:last-child, .bigcenter img:last-child, .bigleft img:last-child, .bigright img:last-child, .smallright img:last-child, .smallleft img:last-child {
        margin-right: auto; } }
