@import 'jeet/index';
@import 'settings';

/* Extends */

%proxima{
	font-family: "proxima-nova", "helvetica neue", helvetica, arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}

%chaparal{
	font-family: "ff-tisa-web-pro", "Chaparal Pro", Garamond, Georgia, Serif;
	font-weight: normal;
	
}

%fullwidth {
	 min-height: 100%; /* Set to minimum height so overflow doesn't get hidden */
    overflow-y: hidden;	position: relative;
	width: 100%;
	float: left;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;
}

.casestudies, .workcontainer{
	@include center($width);

}

.casestudies h2, .workcontainer h2{
	@extend %proxima;
	color: $green;
}

.casestudies, .workcontainer{
	margin-top: 50px;
}

.workcontainer{
	margin-bottom: 50px;
}

.caseimages a{
	@include col(1/3);
	overflow: auto;
	& img{
		width: 100%;
	}
}
//three up
.threeup{
	overflow: auto;
	& img{
		@include col(1/3);
	}
}

//bigleft
.bigleft{
	margin-top: 3.3%;
	overflow: auto;
}
.bigleft img{
	@include col(2/3)
}

.smallright{
	@include col(1/3);
	& img{ 
		@include stack();
		&:last-child{
			margin-top:10.2%;
		}
	}
}

//bigright
.bigright{
	margin-top: 3.3%;
	overflow: auto;
}
.bigright img{
	@include col(2/3)
}

.smallleft{
	@include col(1/3);
	& img{ 
		@include stack();
		&:last-child{
			margin-top:10.2%;
		}
	}
}

//bigcenter
.bigcenter img{
	@include center(100%);
	width: 100%;
	margin-top: 3.3%;
}


/** ---- MEDIA QUERIES ---- **/
//tablet media query
@media (min-width: $break-small) and (max-width: $break-large){
	
	.casestudies, .workcontainer{
		@include center(92.5%);
		transition: all 2s;
	}

	.caseimages{
		@include stack();
		transition: all 2s;
	}

	.bigleft > img,{
		width: 100%;
		margin-bottom: 3.3%;
		margin-right:0;
		margin-left:0;
		transition: all 2s;
	}

	.bigright > img{
		width: 100%;
		margin-top: 3.3%;
		margin-right:0;
		margin-left:0;
		transition: all 2s;
	}

	.smallright, .smallleft{
		@include unstack();
		width: 100%;
		transition: all 2s;
		& img{
			@include col(1/2);
			transition: all 2s;
			&:last-child{
				margin-top:0;
				transition: all 2s;
			}
		}
	}

}
//Small media query

@media (max-width: $break-small){
	.casestudies, .workcontainer{
		@include center(92.5%);
	}

	.casestudies{
		margin-top:10px;
	}

	 .caseimages a, .threeup, .bigcenter, .bigleft, .bigright, .smallright, .smallleft{
		@include stack();
		margin-top: 0!important;
		& img{
			@include stack();
			margin-top: 10px !important;
		}
	}
}